<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">

        <!-- Enable responsive viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!-- [if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif] -->

        <!-- Le styles -->
        <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
        <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
        <link href="{{ ASSET_PATH }}/css/kbroman.css" rel="stylesheet" type="text/css" media="all">

        <!-- Le fav and touch icons -->
        <link rel="SHORTCUT ICON" href="{{ BASE_PATH }}/assets/Me.jpg"/>

        <!-- atom & rss feed -->
        <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
        <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

        <script type="text/javascript">
            function setAccessedDate() {
                if (document.getElementById('accessed-on')) {
                    var now = new Date();
                    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                    var formattedDate = now.getDate().padStart(2,'0')+" "+months[now.getMonth()]+" "+now.getFullYear();
                    document.getElementById('accessed-on').textContent = " (accessed " + formattedDate + ")";
                } 
            }
            function setModifiedDate() {
                if (document.getElementById('last-modified')) {
                    fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
                    .then((response) => {
                        return response.json();
                    })
                    .then((commits) => {
                        var modified = commits[0]['commit']['committer']['date'].slice(0,10);
                        if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
                            document.getElementById('last-modified').textContent = "Last Modified: " + modified;
                        }
                    });
                }
            }
        </script>
    </head>

    <body onload="setModifiedDate(); setAccessedDate();">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-narrow">
                    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
                    <ul class="nav">
                            <li><a href="{{ BASE_PATH }}/pages/about.html">About Me</a></li>
                            <li>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">Portfolio</a>
                                        <ul class="dropdown-content">
                                            <li>
                                                <a href="{{ BASE_PATH }}/pages/assignments.html">Class Assignments</a>
                                                <ul class="dropdown-subcontent-level-1">
                                                    <li>
                                                        <a href="{{ BASE_PATH }}/pages/assignments.html#GWU">The George Washington University</a>
                                                        <ul class="dropdown-subcontent-level-2">
                                                            <li><a href="{{ BASE_PATH }}/pages/assignments.html#seas6401">SEAS 6401</a></li>
                                                            <li><a href="{{ BASE_PATH }}/pages/assignments.html#emse6574">EMSE 6574</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ BASE_PATH }}/pages/presentations.html">Presentations</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li><a href="{{ BASE_PATH }}/pages/pubs.html">publications</a></li> -->
                            <li>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">Data Science Toolkit</a>
                                        <ul class="dropdown-content">
                                            <li><a href="{{ BASE_PATH }}/pages/resources.html">Resources</a></li>
                                            <li><a href="{{ BASE_PATH }}/pages/software.html">Software & Packages</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-narrow">

            <div class="content">
                {{ content }}
            </div>

            <hr>

        </div>

        {% include JB/analytics %}
        <div id="footer">
            {% include themes/twitter/footer.html %}
        </div>
    </body>
</html>
